<div class="navbar navbar-expand-sm navbar-light bg-light navbar-lewagon">
  <div class="container-fluid">
    <!-- Brand Logo -->
    <%= link_to "/", class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "https://img.freepik.com/premium-vector/cartoon-seaweed-green-underwater-plant-stones-rocks-sea-bottom-decoration-vector-undersea-plant-grown-aquarium-tank-decor-tropical-seabed-marine-life-object-undersea-aquatic-flora_53500-892.jpg?w=1060", size: "40x40", class: "me-2 rounded-circle" %>
      Plants for everyone
    <% end %>

    <!-- Navbar Toggler -->
    <%= link_to cart_path, class: "nav-link" do %>
            <i class="fa-solid fa-cart-shopping"></i>
          <% end %>
    <!-- Collapsible Menu -->
  </div>
</div>
