.container {
  max-width: fit-content;
  gap: 10px;
}

.card {
  border-radius: 5px;
  border: 1px solid;
  border-color: #a3b18a;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card img {
  width: 15rem;
  height: 15rem;
  margin-bottom: 5px;
  object-fit: cover;

}
